/build/
/dist/
/cimat_utils.egg-info/
venv
.venv
**/__pycache__/
.idea/
./test/

tests/files/**/*_new/
tests/files/**/*_copy/
tests/files/**/*_renamed/
tests/files/**/empty.*

.coverage
coverage.*

.env
*.egg-info
.pytest_cache
.vscode
